@use "../abstracts/" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  line-height: 1;
  border: 0;
  border-radius: 100vh;
  padding: 1.25rem;
  transition: 275ms ease;
  background-color: clr(primary, 400);
  justify-self: center;
  transform: translateY(50%);

  &:is(:hover, :focus) {
    box-shadow: 0 0 40px clr(primary, 400);
  }
}
