@use "../abstracts/" as *;

.card {
  display: grid;
  padding-block-start: $card-block-start-padding;
  padding-inline: $card-inline-padding;
  border-radius: 10px;

  @include mq(small) {
    border-radius: 15px;
  }
}
